@page
@model DNASS.Pages.Admin.Products.IndexModel
<p>
    <a asp-page="Create" class="btn btn-success">Добавить товар</a>
</p>
@foreach (var item in Model.Product)
{
    <div class="card mb-3 mt-5" style="max-width: 1000px; height:272px; ">
        <div class="row g-5">

            <div class="col">
                <img src="~/Image/@item.ImgUrl" class="card-img-top" style="width: 335px; height:270px" />
            </div>
            <div class="col">
                <div class="card-body" style="width:400px">
                    <ul class="list-group">
                        <li class="list-group">
                            <a href="/Admin/Products/Details/@item.Id" class="card-title" style="width: 400px;height:150px;text-decoration:none; color:black">
                                @item.Name, @item.Description
                            </a>
                        </li>
                        <li class="list" style="list-style-type:none">
                            <img src="~/Image/" />
                            <a href="#" class="card-link" style="font-size:24px;text-decoration:none; color:orange" >В корзину</a>
                            <a href="#" class="card-link" style="font-size:24px;text-decoration:none; color:black">@item.Cost₽ </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}